<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563667006366-bldrn1b627ed9pdjddfbr0gc1859i09g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563667006366-bldrn1b627ed9pdjddfbr0gc1859i09g</string>
	<key>API_KEY</key>
	<string>AIzaSyAraQ9jRoVSWzvFVLc0hP300XH_E6oVIH4</string>
	<key>GCM_SENDER_ID</key>
	<string>563667006366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homesaloonAdmin</string>
	<key>PROJECT_ID</key>
	<string>homesaloon-8f2c8</string>
	<key>STORAGE_BUCKET</key>
	<string>homesaloon-8f2c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563667006366:ios:2e9e8047fc59ab94fa1c8f</string>
</dict>
</plist>